div {
    box-sizing: border-box;
}

#app {
    font-family: 'Avenir', Arial, sans-serif;
    text-align: center;
    color: #2C3350;
    margin-top: 60px;
}

.card {
    min-height: 210px;
    margin-bottom: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    margin-bottom: 20px;
}